/data
.venv
/bin
/ignore
*.odt
~*
.~*
/figures
.Rproj.user
*.pdf
/*.txt
/documents

/data2
/ref
/processed
.directory
/output/tables/rsem
/output/tables/quantiseq
/output/tables/tin.py

.Rhistory
*.bai
*.bam
*.sam
*.cram
/output/bam-disco
/test-star-disco
*.RData
/raw
/output/tables/idxstat/
/output/tables/rseqc/
/fastq-clean
/processed_gsamrun2
*.bak
/output/tables/qc/tin_new.py/

scripts/santoesha

/gravendeel
output/tables/gliovis-subtype-input-table.csv
/*.png
infercnv
/host
