/data
.venv
/bin
/ignore
/tmp
*.odt
~*
.~*
/figures
.Rproj.user
*.pdf
/*.txt
/docs

/data2
/ref
/processed
.directory
/output/tables/rsem
/output/tables/quantiseq
/output/tables/tin.py

.Rhistory
*.bai
*.bam
*.sam
*.cram
/output/bam-disco
/test-star-disco
*.RData
